streamlit==1.25.0
pandas==1.5.3
msrest==0.7.1
xlsxwriter==3.1.4
PyMuPDF
openai
streamlit-chat
speechrecognition
playsound
PyPDF2
pypdf
tiktoken
faiss-cpu
langchain
langchain-community
langchain_experimental
cryptography>=3.1 
pyaudio
