streamlit==1.25.0
msrest==0.7.1
PyMuPDF
openai
streamlit-chat
speechrecognition
playsound
PyPDF2
pypdf
tiktoken
faiss-cpu
langchain
langchain-community
langchain_experimental
cryptography>=3.1 
pyaudio==0.2.12
